
@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{margin: 0;padding: 0;border: 0;}
.rentInfo-table{ border-collapse:collapse; background-color: #DDDDDD}
body{font-size:12px;color:#333; font-family:"Microsoft Yahei"; overflow-x:hidden;}
.bodybg{ background:url(../images/bodybg.jpg) right 160px no-repeat;}
img,a{border:0; text-decoration:none;}
ol, ul {list-style: none; }
.clears{ clear:both;}
a{color:#333;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;transition: all .3s ease-out;}
a:hover{color:#F00;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;transition: all .3s ease-out;}
img{ max-width:100%; height:auto;}
.width1190{width:1190px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.red{color:#f00;}
.height1{height:7px;}
.height2{ height:30px;}
.height3{ height:20px;}
.font14{ font-size:14px;}
.font12{ font-size:12px;}
.alignLeft{ text-align:left;}
.alignCenter{ text-align:center;}
.alignRight{ text-align:right;}
.green{color:#7ABD54;}
.orange{color:#f60;}
.hui{color:#999;}

/*content*/
.content{padding:10px 0;}
.title{margin:20px 0 0 0;height:23px; line-height:23px;border-bottom:#ddd 1px solid;border-left:#f1323b 4px solid;padding-left:5px; font-size:18px; font-weight:400; position:relative;}
.title a{ position:absolute; font-size:12px;right:0;top:0;}


/*index-ershou*/
.index-ershou{padding:15px 0;}
.in-er-left{float:left;width:380px; height:285px; position:relative;}
.in-er-left-text{ position:absolute;left:0;bottom:0;width:370px;padding:0 5px; height:25px; line-height:25px;color:#fff; background:url(../images/black60.png);}
.in-er-left-text strong{ font-size:12px; font-weight:400;width:48%;}
.in-er-right{float:right;width:800px;}
.in-er-right dl{float:left;width:382px; height:115px;padding:13px 0;padding-left:17px;border-right:#ccc 1px dashed;border-bottom:#ccc 1px dashed;}
.in-er-right dl:nth-child(2),.in-er-right dl:nth-child(4){border-right:0;}
.in-er-right dt{float:left;width:150px; height:115px;}
.in-er-right dd{float:left;margin-left:8px;width:210px;}
.in-er-right dd h3{ font-size:14px; height:20px; line-height:15px;}
.in-er-right dd .in-er-right-text{ line-height:18px; font-size:12px;}
.price{ font-size:24px;color:#f03435; text-align:right; height:25px; line-height:25px; font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif; font-weight:bold;}


/*copy*/
.copy{width:100%; height:40px; line-height:40px; background:#2d2d2d; font-size:14px; text-align:center;color:#fff;}
.copy a{color:#fff;}
.copy a:hover{ text-decoration:underline;}



/*租借 产品搜索*/
.pro-search table{width:100%;}
.pro-search th{width:80px; text-align:right;padding-right:5px;padding:9px 0;border-bottom:#ccc 1px dotted ; font-size:14px;}
.pro-search td{padding:9px 0;border-bottom:#ccc 1px dotted ;}
.pro-search td a{ display:inline-block;padding:0 15px; height:24px; line-height:24px;-moz-border-radius:4px; -webkit-border-radius: 4px;border-radius:4px;margin-right:4px;}
.pro-search td a.pro-cur{ background:#900;color:#fff;}
.protext{margin:0;padding:0;border:0; background:none;border:#ddd 1px solid;width:50px; height:20px;}
.paixu{ height:25px; line-height:25px; font-size:14px;padding:10px 0 0 0;}
.paixu strong{ font-weight:400;}
.paixu a{ display:inline-block;margin-right:15px;}
.paixu a.pai-cur{ color:#f60; font-weight:bold;}

/*pro-left*/
.pro-left{float:left;width:880px;}
.pro-left dl{padding:15px 0;border-bottom:#ccc 1px dotted;}
.pro-left dt{float:left;width:286px; height:188px;}
.pro-left dd{float:left;width:380px;margin-left:10px;padding:0 0 0 0;}
.pro-left dd h3{ font-size:22px; line-height:25px; font-weight:400;margin-bottom:10px;}
.pro-wei{padding:6px 0; font-size:15px; font-weight:400;}
.pro-fang{padding:5px 0; font-size:14px;}
.pra-fa{padding:5px 0;font-size:14px;margin:20px 0 0 0}
.pro-left dl .price{float:right;margin:50px 0 0 0; font-size:26px;width:140px; text-align:right;height:40px; line-height:40px;}







/*sub*/
.subs{background: #000;padding:10px 10px;width:1080px;color:#fff;font-size: 14px;height:33px;overflow: hidden;}
.subs img{vertical-align: bottom;}
.subs_add {overflow: auto;}
.subs_add li{width:348px;text-align: center;border:1px #ddd solid;font-size: 30px;line-height: 60px;float: left;margin:10px 0 0 10px;}
.subs_add li a{display: block;padding:40px 0;height:130px;}
.subs_add li.per_50{width:543px;}
.subs_add li.right{margin-right:0;}

#tablehead {line-height: 35px;}
.basetb td{font-size: 14px;line-height: 30px;}

.map_ul4{float: left;width:300px;margin-left:124px;}
.map_ul4 li{float:left;width:70px;text-align: center;border: 1px #eee solid;margin:0 5px;line-height: 30px;font-size: 16px;border-radius: 2px;}
.map_ul4 li.on{border: 1px #FF5A00 solid;background: #f2f2f2;}
.top_my{display: none;}


























